fastapi==0.111.0
uvicorn[standard]==0.29.0
whisperx==3.1.1
faster-whisper==1.0.3
transformers==4.39.3
torch==2.2.1
textrank4zh==0.3
jieba==0.42.1
pyannote.audio==3.1.1
python-multipart==0.0.9
soundfile==0.12.1
numpy==1.26.4
pydantic-settings==2.2.1
requests==2.31.0
aiofiles==23.2.1
